<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdminPage</title>
  <link rel = "stylesheet" href = "/CSS/AccountEditAdmin.css">
</head>

   <body id = "main_body"> 


    <div id = "main_top">
      <div id = "top_left_logo">
      </div>
      <div id = "school_name">Ankara Universitesi</div>
      <div id = "name_bar">
        <div id ="user_name">Gorkem</div>
        <div id = "user_surname">mert</div>
      </div>
    </div>


    <div id = "main_bottom">
      <div id ="left_maincolmun"></div>
      <div id = "main_content"></div>
    </div>
    
   </body>
</html>