<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdminPage</title>
  <link rel = "stylesheet" href = "/CSS/AccountEdit.css">
</head>

   <body> 
    <div id = "main_top">
      <div id = "logo"></div>
      <div id = "name_bar">
        
      </div>

    </div>
    
   </body>
</html>